@model RoleAuthDemo.ViewModels.UserProfileViewModel

<h2>My Profile</h2>
<table class="table table-bordered">
    <tr><th>First Name</th><td>@Model.FirstName</td></tr>
    <tr><th>Last Name</th><td>@Model.LastName</td></tr>
    <tr><th>CNIC</th><td>@Model.CNIC</td></tr>
    <tr><th>Email</th><td>@Model.Email</td></tr>
    <tr><th>Phone</th><td>@Model.PhoneNumber</td></tr>
    <tr><th>Role</th><td>@Model.Role</td></tr>
</table>
